@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #fff;
  background-color: #1e1e1e;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 2px 2px #6B8288;
}

.text-shadow--sm {
  text-shadow: 1px 1px #6B8288;
}

.text-shadow:active {
  text-shadow: none;
}